<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script type="module" src="./dist/pre-styled-animated-details.js"></script>
</head>

<body>
    <div class="gray">
        <pre-styled-animated-details data-title="タイトル">
            <ul>
                <li>
                    hey
                </li>
            </ul>
        </pre-styled-animated-details>
        <div>
            <ul class="target">
                <li>
                    nnnhey
                </li>
                <li>
                    hey
                </li>
            </ul>
        </div>
    </div>
</body>

</html>